.keys {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "plus minus mult dev"
    "seven eight nine e"
    "four five six e"
    "one two three e"
    "z dot ce e";
}

.equals {
    grid-area: e;
    display: grid;
    font-size: 50px;
    color: black;
    background-color: orange;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-bottom-right-radius: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.equals:active {
    background-color: darkorange;
}

.zero {
    grid-area: z;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}
/*.zero:hover {
    background-color: #bfbfbf;
    border-bottom-left-radius: 25px;

}*/

.one {
    grid-area: one;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.two {
    grid-area: two;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.three {
    grid-area: three;
    border-top: 1px solid darkgray;
}

.dot {
    grid-area: dot;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;

}

.ce {
    grid-area: ce;
    border-top: 1px solid darkgray;
}

.four {
    grid-area: four;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;

}

.five {
    grid-area: five;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.six {
    grid-area: six;
    border-top: 1px solid darkgray;
}

.seven {
    grid-area: seven;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    
}

.eight {
    grid-area: eight;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.nine {
    grid-area: nine;
    border-top: 1px solid darkgray;
}

.plus {
    grid-area: plus;
    border-right: 1px solid #2f4350;
}

.minus {
    grid-area: minus;
    border-right: 1px solid #2f4350;
}

.dev {  
    grid-area: dev;
}
.mult {
    grid-area: mult;
    border-right: 1px solid #2f4350;
}

.operators {
    background-color:#425e70;
    color: white;
}

.common {
    display: grid;
    cursor: default;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.common:active {
    background-color: #e5e5e5;
    border-bottom-left-radius: 25px;
    background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
          box-shadow: inset 0px 0px 10px #c1c1c1;
   outline: none;
   transition: box-shadow 2s;
}
/*#425e70*/