.keys {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "plus minus mult dev"
    "seven eight nine e"
    "four five six e"
    "one two three e"
    "z dot ce e";
}

.equals {
    grid-area: e;
    display: grid;
    font-size: 50px;
    color: black;
    background-color: orange;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-bottom-right-radius: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.equals:active {
    background-color: darkorange;
}

.key {
    background-color: #d9d9d9;
}

.key:active {
    background-color: #a6a6a6;
    font-size: 47px !important;
    -webkit-box-shadow: inset 0px 0px 10px #737373;
     -moz-box-shadow: inset 0px 0px 10px #737373;
          box-shadow: inset 0px 0px 10px #737373;
   outline: none;
}

.zero {
    grid-area: z;
    border-bottom-left-radius: 25px;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.one {
    grid-area: one;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.two {
    grid-area: two;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.three {
    grid-area: three;
    border-top: 1px solid darkgray;
}

.dot {
    grid-area: dot;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;

}

.ce {
    grid-area: ce;
    border-top: 1px solid darkgray;
}

.four {
    grid-area: four;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;

}

.five {
    grid-area: five;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.six {
    grid-area: six;
    border-top: 1px solid darkgray;
}

.seven {
    grid-area: seven;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    
}

.eight {
    grid-area: eight;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.nine {
    grid-area: nine;
    border-top: 1px solid darkgray;
}

.plus {
    grid-area: plus;
    border-right: 1px solid #2f4350;
}

.minus {
    grid-area: minus;
    border-right: 1px solid #2f4350;
}

.dev {  
    grid-area: dev;
    border-left: 1px solid #2f4350;
}
.mult {
    grid-area: mult;
}

.operators {
    background-color:#425e70;
    color: white;
}

.common {
    display: grid;
    cursor: default;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.operators:active {
    border-radius: 0px !important;
    background: #2f4350 !important;
    font-size: 47px !important;
    -webkit-box-shadow: inset 0px 0px 10px #1c2830;
    -moz-box-shadow: inset 0px 0px 10px #1c2830;
         box-shadow: inset 0px 0px 10px #1c2830;
    outline: none;
}
/*#425e70*/